<!-- Front_End/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Dashboard</title>
</head>
<body>
    <h1>Bookings Overview</h1>
    <ul>
        {% for booking in bookings %}
        <li>
            <a href="{{ url_for('booking_details', booking_id=booking.booking_id) }}">
                {{ booking.customer_name }} - {{ booking.arrival_date }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
